.moodCard {
	background-color:#bccbd0;
    color:white;
    width: 100%;
    padding: 10px;
    padding-top: 15%;
    padding-bottom: 10%;
    border: 5px solid gray;
    margin: 0px; 
    content: grey;
    font-size: 200.0%;
    }
  .yesnobtn.show  {

  border: solid #666;
  border-width: 10px; border-width: 0.01rem; /*1vw*/
  border-radius: 30px; border-radius: 0.03rem; /*3vw*/
  font-size: 20px; font-size: 0.15rem; /*2vw*/
  padding: 20px; padding: 0.02rem; /*2vw*/
  -moz-box-shadow:inset 0px 2px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 2px 0px 0px #ffffff;
  box-shadow:inset 0px 2px 0px 0px #ffffff;
  background-color:#ededed;
}




h1 {
    font-size: 50px; font-size: 0.05rem;
}

body {
  padding-bottom: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}